$qb-light-primary: #3978fc;
$qb-light-color-background: #ffffff;
$qb-light-color-divider: #e7efff;
$qb-light-color-font: #0b121b;

$qb-dark-primary: #000;
$qb-dark-color-background: #101010;
$qb-dark-color-divider: #d56819;
$qb-dark-color-font: #ffffff;

$background-overlay-light: rgba(213, 104, 25, 0.6);
$background-overlay-dark: rgba(144, 151, 159, 0.8);
$primary-50: #ffb783;
$primary-100: #d56819;
$primary-200: #d56819;
$primary-300: #d56819;
$primary-400: #d56819;
$primary-500: #d56819;
$primary-600: #d56819;
$primary-700: #d56819;
$primary-800: #d56819;
$primary-900: #d56819;
$primary-a-100: #d56819;
$primary-a-200: #d56819;
$primary-a-400: #d56819;
$primary-a-700: #d56819;

$secondary-50: #d56819;
$secondary-100: #d56819;
$secondary-200: #d56819;
$secondary-300: #d56819;
$secondary-400: #d56819;
$secondary-500: #d56819;
$secondary-600: #d56819;
$secondary-700: #d56819;
$secondary-800: #d56819;
$secondary-900: #d56819;
$secondary-a-100: #d56819;
$secondary-a-200: #d56819;
$secondary-a-400: #d56819;
$secondary-a-700: #d56819;

$system-green-100: #c8f1d6;
$system-green-200: #a4e7bb;
$system-green-300: #80dda0;
$system-green-400: #64d68b;
$system-green-500: #49cf77;

$error-100: #ffc4c1;
$error-200: #ff9d98;
$error-300: #ff766e;
$error-400: #ff584f;
$error-500: #ff3b30;

$information: #fdb0ff;
$highlight: #fffdc1;
