@import "assets/style/_theme_colors_scheme.scss";
@import "assets/style/_variables.scss";

.Mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  // max-width: 450px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
  top: 0;
  z-index: 95;
}

.NoData {
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 160px;
    }

    .title {
      margin-top: 5px;
      text-transform: uppercase;

      font-family: PingFang SC;
      font-size: 14px;
      font-weight: normal;
      line-height: normal;
      text-transform: uppercase;
      letter-spacing: 0em;

      font-variation-settings: "opsz" auto;
      color: #d56819;
      /* 20.793px */
    }
  }
}

.valueBox {
  .iconBox {
    @media (max-width: 425px) {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.marquee-container {
  width: 100%;

  .marquee-wrapper {
    height: 17px;
    overflow: hidden;

    .marquee-content {
      transform: translateY(0);
      transition: transform 1s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .marquee-content-itm {
        line-height: 17px;
        font-size: 12px;
        color: #5e1400;
      }
    }
  }
}

// 下拉菜单图标旋转
.rotetaClose {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.5s;
}

.rotetaOpen {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform 0.5s;
}

.ant-dropdown-menu {
  // background: #261E00 !important;

  .coinItem {
    display: flex;
    align-items: center;
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

.ant-dropdown-menu-item-divider,
.ant-dropdown-menu-submenu-title-divider {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background: transparent !important;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-active,
.ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-submenu-title:hover {
  background-color: transparent !important;
}

.adm-popup-body {
  transform: translate(-50%, 0%) !important;
  left: 50% !important;
  max-width: 450px;
}

@media (max-width: 1374px) {
  .Gain {
    padding: 0px 0px !important;
  }
}

@media (max-width: 525px) {
}
